spring:
  application:
    name: auth-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/secudoc
    username: postgres
    password: root123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  logging:
    level:
      com.secudoc.auth_service: DEBUG
  
#  jwt:
#    secret:3K1cqx8DSB90Es51uq+4NmZ+qNUBCcRWgMUca3mCn7I=
# 